Repository fipl-hse/2022-2-level-labs, pull requests merged in 2022-11, with the labels that each got.

#159 [CI] Use new API for output setting
  .github/workflows/update_forks.yml
  config/github/update_fork.sh
Labels: CI

#161 [skip-lab] [SEMINARS] Listing for seminar no. 6 (classes)
  seminars/practice_6_classes.py
Labels: seminar listing

#172 [LAB 4] [skip-lab] Description and tests
  config/labs.txt
  config/labs_coverage_thresholds.json
  config/spellcheck/.wordlist.txt
  lab_4_summarization_textrank/README.md
  lab_4_summarization_textrank/__init__.py
  lab_4_summarization_textrank/assets/IDF.json
  lab_4_summarization_textrank/assets/corpus_frequencies.json
  lab_4_summarization_textrank/assets/stop_words.txt
  lab_4_summarization_textrank/assets/texts/article_100.txt
  lab_4_summarization_textrank/assets/texts/article_128.txt
  lab_4_summarization_textrank/assets/texts/article_15.txt
  lab_4_summarization_textrank/assets/texts/article_432.txt
  lab_4_summarization_textrank/assets/texts/article_490.txt
  lab_4_summarization_textrank/assets/texts/article_491.txt
  lab_4_summarization_textrank/assets/texts/article_492.txt
  lab_4_summarization_textrank/assets/texts/article_493.txt
  lab_4_summarization_textrank/assets/texts/article_494.txt
  lab_4_summarization_textrank/assets/texts/article_495.txt
  lab_4_summarization_textrank/assets/texts/article_496.txt
  lab_4_summarization_textrank/assets/texts/article_497.txt
  lab_4_summarization_textrank/assets/texts/article_498.txt
  lab_4_summarization_textrank/assets/texts/article_499.txt
  lab_4_summarization_textrank/assets/texts/article_5.txt
  lab_4_summarization_textrank/assets/texts/article_500.txt
  lab_4_summarization_textrank/assets/texts/article_501.txt
  lab_4_summarization_textrank/assets/texts/article_700.txt
  lab_4_summarization_textrank/assets/texts/article_701.txt
  lab_4_summarization_textrank/assets/texts/article_702.txt
  lab_4_summarization_textrank/assets/texts/article_703.txt
  lab_4_summarization_textrank/assets/texts/article_704.txt
  lab_4_summarization_textrank/assets/texts/article_705.txt
  lab_4_summarization_textrank/main.py
  lab_4_summarization_textrank/start.py
  lab_4_summarization_textrank/target_score.txt
  lab_4_summarization_textrank/tests/__init__.py
  lab_4_summarization_textrank/tests/buddy_test.py
  lab_4_summarization_textrank/tests/calculate_similarity_test.py
  lab_4_summarization_textrank/tests/expected_answer.txt
  lab_4_summarization_textrank/tests/sentence_encoder_test.py
  lab_4_summarization_textrank/tests/sentence_preprocessor_test.py
  lab_4_summarization_textrank/tests/sentence_test.py
  lab_4_summarization_textrank/tests/similarity_matrix_test.py
  lab_4_summarization_textrank/tests/text_rank_summariser_test.py
  pyproject.toml
Labels: documentation, Tests

#137 Laboratory work #3, Eliseeva Alexandra- 21FPL1
  lab_3_keywords_textrank/main.py
  lab_3_keywords_textrank/start.py
  lab_3_keywords_textrank/target_score.txt
Labels: Approved
