Repository fipl-hse/2022-2-level-labs, pull requests merged in 2022-10, with the labels that each got.

#77 [LAB 2] Description, stubs & tests
  config/labs.txt
  config/labs_coverage_thresholds.json
  config/spellcheck/.wordlist.txt
  lab_2_keywords_cooccurrence/README.md
  lab_2_keywords_cooccurrence/__init__.py
  lab_2_keywords_cooccurrence/assets/albatross.txt
  lab_2_keywords_cooccurrence/assets/gagarin.txt
  lab_2_keywords_cooccurrence/assets/genome_engineering.txt
  lab_2_keywords_cooccurrence/assets/pain_detection.txt
  lab_2_keywords_cooccurrence/assets/polish.txt
  lab_2_keywords_cooccurrence/assets/stop_words.txt
  lab_2_keywords_cooccurrence/assets/stopwords.json
  lab_2_keywords_cooccurrence/assets/unknown.txt
  lab_2_keywords_cooccurrence/main.py
  lab_2_keywords_cooccurrence/start.py
  lab_2_keywords_cooccurrence/target_score.txt
  lab_2_keywords_cooccurrence/tests/__init__.py
  lab_2_keywords_cooccurrence/tests/calculate_cumulative_score_for_candidates_test.py
  lab_2_keywords_cooccurrence/tests/calculate_cumulative_score_for_candidates_with_stop_words_test.py
  lab_2_keywords_cooccurrence/tests/calculate_frequencies_for_content_words_test.py
  lab_2_keywords_cooccurrence/tests/calculate_word_degrees_test.py
  lab_2_keywords_cooccurrence/tests/calculate_word_scores_test.py
  lab_2_keywords_cooccurrence/tests/extract_candidate_keyword_phrases.py
  lab_2_keywords_cooccurrence/tests/extract_candidate_keyword_phrases_test.py
  lab_2_keywords_cooccurrence/tests/extract_candidate_keyword_phrases_with_adjoining_test.py
  lab_2_keywords_cooccurrence/tests/extract_phrases_test.py
  lab_2_keywords_cooccurrence/tests/generate_stop_words_test.py
  lab_2_keywords_cooccurrence/tests/get_top_n_test.py
  lab_2_keywords_cooccurrence/tests/load_stop_words_test.py
  pyproject.toml
Labels: documentation, Tests

#25 Laboratory work #1, Beryozkin Daniil - 21FPL1
  lab_1_keywords_tfidf/main.py
  lab_1_keywords_tfidf/start.py
  lab_1_keywords_tfidf/target_score.txt
Labels: Approved

#100 [DOCS] [skip-lab] Add more info on Pycharm project creation
  config/spellcheck/.wordlist.txt
  docs/images/starting_guide/selecting_folder.png
  docs/public/starting_guide_ru.md
Labels: documentation

#113 [SEMINARS] Listing for seminar no. 4 (dictionaries)
  seminars/practice_4_dicts.py
Labels: seminar listing

#130 [LAB 3] [skip-lab] Description and tests for 8
  config/labs_coverage_thresholds.json
  config/spellcheck/.wordlist.txt
  lab_3_keywords_textrank/README.md
  lab_3_keywords_textrank/__init__.py
  lab_3_keywords_textrank/assets/adj_whitelist.txt
  lab_3_keywords_textrank/assets/article.txt
  lab_3_keywords_textrank/assets/benchmark_materials/0_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/0_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/1_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/1_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/2_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/2_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/3_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/3_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/4_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/4_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/5_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/5_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/6_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/6_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/7_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/7_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/8_keywords.txt
  lab_3_keywords_textrank/assets/benchmark_materials/8_text.txt
  lab_3_keywords_textrank/assets/benchmark_materials/eng_adj_whitelist.txt
  lab_3_keywords_textrank/assets/benchmark_materials/eng_noun_whitelist.txt
  lab_3_keywords_textrank/assets/benchmark_materials/eng_stop_words.txt
  lab_3_keywords_textrank/assets/benchmark_materials/eng_verb_whitelist.txt
  lab_3_keywords_textrank/assets/noun_whitelist.txt
  lab_3_keywords_textrank/assets/stop_words.txt
  lab_3_keywords_textrank/assets/task_description_images/custom_graph.jpg
  lab_3_keywords_textrank/assets/task_description_images/custom_graph.png
  lab_3_keywords_textrank/assets/task_description_images/directed_undirected_graph.jpeg
  lab_3_keywords_textrank/assets/task_description_images/graph.jpeg
  lab_3_keywords_textrank/assets/task_description_images/weighted_graph.jpeg
  lab_3_keywords_textrank/assets/verb_whitelist.txt
  lab_3_keywords_textrank/main.py
  lab_3_keywords_textrank/start.py
  lab_3_keywords_textrank/target_score.txt
  lab_3_keywords_textrank/tests/__init__.py
  lab_3_keywords_textrank/tests/adjacency_matrix_test.py
  lab_3_keywords_textrank/tests/edge_list_graph_test.py
  lab_3_keywords_textrank/tests/extract_pairs_test.py
  lab_3_keywords_textrank/tests/position_biased_text_rank_test.py
  lab_3_keywords_textrank/tests/text_encoder_test.py
  lab_3_keywords_textrank/tests/text_preprocessor_test.py
  lab_3_keywords_textrank/tests/vanilla_text_rank_test.py
  pyproject.toml
Labels: documentation, Tests

#80 Laboratory work #2, Karnauhov Andrey - 21FPL1
  lab_2_keywords_cooccurrence/main.py
  lab_2_keywords_cooccurrence/start.py
  lab_2_keywords_cooccurrence/target_score.txt
Labels: Review required
